.menu-sign{
  color:white ;
  font-family: 'Archivo Black', sans-serif; 
}

.main-header {
  display: flex;
  height: 100px;
  padding: 0 20px;
  background: rgb(101,199,190);
background: linear-gradient(90deg, rgba(101,199,190,1) 10%, rgba(255,139,112,1) 36%, rgba(255,217,102,1) 81%);

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
    font-family: 'Archivo Black', sans-serif;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
 
}
.img{
  display: flex;
  flex-grow: 1;
  margin: 14px;
  

}


@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
