
#container {
  min-height:100%;
  position:relative;
  font-family: 'Archivo Black', sans-serif;
}

#body {
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
}
#footer {
  position: relative;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background: rgb(101,199,190);
background: linear-gradient(90deg, rgba(101,199,190,1) 10%, rgba(255,139,112,1) 36%, rgba(255,217,102,1) 81%);
}